* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 
dashboard
*/

/* wcim-kdr-header */
.wcim-kdr-header {
	background: #2271b1;
	color: #fff;
	padding: 12px;
	border-radius: 6px;
	margin-bottom: 1.8rem;
}

.wcim-kdr-header h1{
	color: #fff;
}

/* container-box */
.container-box {
	display: flex;
	justify-content: space-between;
	gap: 1.1rem;
}

/* wcim-kdr-card */
.wcim-kdr-card {
	text-align: center;
	padding: 1rem;
	border-radius: 0.6rem;
	background-color: #fff;
	width: 25%;
	border: 1px solid #e2e2e2;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.wcim-kdr-card h2 {
	font-size: 1.4rem;
	font-weight: 600;
	color: #1d2327;
}

/* wcim-kdr-panel */
.wcim-kdr-panel {
	width: 50%;
	background: #ffffff;
	border: 1px solid #dcdcde;
	border-radius: 0.6rem;
	margin-top: 2rem;
	overflow: hidden;
}

.wcim-kdr-panel h2 {
	text-align: center;
}

.product-link{
	background: #f0f0f1;
	color: #1d2327;
	padding: 3px 8px;
	border-radius: 0.25rem;
	font-size: 12px;
	text-decoration: none;
}

thead tr.table-header th {
	background: #f6f7f7;
	color: #1d2327;
	font-weight: 600;
}

@media (max-width: 1174px) {
	.wcim-kdr-dashboard-sections {
		flex-direction: column;
	}

	.wcim-kdr-panel {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.wcim-kdr-cards {
		flex-wrap: wrap;
	}

	.wcim-kdr-card {
		width: 48%;
	}
}

@media (max-width: 499px) {
	.wcim-kdr-card {
		width: 100%;
	}
}


/* 
inventory css
*/

/* inventory-content */
.inventory-content{
	border: 1px solid #dcdcde;
	border-radius: 0.4rem;
	background-color: #fff;
	padding: 1rem;
	margin-bottom: 1rem;
}

.inventory-search-form{
	margin-top: 1rem;
}


/* 
Setting page
*/

.wcim-settings-form{
	border: 1px solid #dcdcde;
	border-radius: 0.4rem;
	background-color: #fff;
	padding: 1rem;
	max-width: 600px;
}

.wcim-settings-form input, 
.wcim-settings-form select{
width: 100%;
}
